

    <link rel="stylesheet" type="text/css" href="/user_home.css">

<div class="container">
    <%# <br/> %>

    <div class="col-12">
        <h4><%=session[:status_message]%></h4>
        <h2><%=@user.name%>!</h3>
    <div>

	<div class="col-12">
        <div class="col">
        <h3><span style ="color:green"><%=@count%></span> links has been shortened</h3>
        <ol>
        <%@last_five_urls.each do |url|%>
            <li><%=url.shortenedurl%></li>
        <%end%>

        </ol>
        </div>

    </div>
    <div>
        <div >
        <form action="/url_shorten" method="POST">
            <div class="row align-items-center">
                <%# <div class="col-auto">
                    <i class="fas fa-search h4 text-body"></i>
                </div> %>
                <div class="col">
                    <input class="form-control form-control-lg form-control-borderless" type="text" placeholder="enter your link" name="url">
                </div>
                <div class="col-auto">
                    <button class="btn btn-lg btn-success" type="submit" for="url">shorten</button>
                </div>
                <!--end of col-->
            </div>
        </form>
        </div>
        <div class="links col-12">
            <div class="col-6">
                <h3><%=@message%></h3>
            </div>
            <div class="col-6">
                <h3><a href="/users/links">Display all links</a></h3>
            </div>
                
        </div>
    
    </div>
</div>



